* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
}

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f2f3f5;
}

header {
  width: 100vw;
}

.logo {
  height: 6rem;
  width: 17rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

li {
  list-style: none;
  font-size: 2rem;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar {
  background-color: rgba(74, 145, 226, 0.794);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-right: 12rem;
}

.nav-link {
  transition: 0.4s ease;
}

.red:hover {
  color: red;
}

.blue:hover {
  color: blue;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 5%;
}

.bar {
  display: block;
  width: 24px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("img/hero-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-call {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(74, 145, 226, 0.623);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  font-size: 2rem;
  overflow: hidden;
}

.hero-call img {
  height: 20rem;
  width: 20rem;
}

.hero-call h1,
h2,
p {
  padding: 0.5rem 0;
}
.card-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 6rem 3rem 8rem 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 5rem 3rem;
  font-size: 1.5rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.heat {
  background-color: rgb(235, 204, 147);
  border-radius: 12%;
}

.cool {
  background-color: rgba(109, 109, 242, 0.891);
  border-radius: 12%;
}
.maintenance {
  background-color: rgba(76, 74, 74, 0.679);
  border-radius: 12%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 0;
  padding: 0rem 4rem;
}

.about-img {
  height: 15rem;
  width: 80vw;
}

.map-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0 2rem 0;
}
.map {
  height: 25rem;
  width: 25rem;
}

.map-container p {
  padding: 3rem 3.5rem 1rem 3.5rem;
  font-size: 2rem;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(42, 91, 165, 0.622);
  box-shadow: 10px 10px 30px black;
  position: relative;
}

.footer-info,
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.footer-logo img {
  height: 5.5rem;
  width: 8rem;
}

.footer-logo p {
  font-size: 1.5rem;
}

.footer-info {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1175px) {
  .hamburger {
    display: block;
    z-index: 999;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .nav {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    padding: 1rem 0;
    margin: 0;
  }

  .nav.active {
    left: 0;
    padding: 9rem 0;
  }

  .hero-call {
    /* display: none; */
    padding: 1rem;
    font-size: 1.5rem;
  }

  .hero-call img {
    height: 15rem;
    width: 15rem;
  }

  .card-container {
    flex-direction: column;
  }

  .map-container p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .map-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-call {
    font-size: 1rem;
    padding: 3rem 0;
    height: 80vw;
    width: 60vw;
  }

  .hero-call img {
    height: 10rem;
    width: 10rem;
  }
  .card-container {
    gap: 1.5rem;
    margin: 1.5rem 1rem;
  }
  .card {
    padding: 1rem 2rem 3.5rem 2rem;
    font-size: 1rem;
  }
  .card img {
    height: 8rem;
    width: 8rem;
  }
  .about {
    margin: 1rem 0;
    padding: 0 2rem;
  }
  .map-container {
    gap: 1rem;
    padding: 2rem 0;
  }
  .map-container p {
    font-size: 1.1rem;
    padding: 0;
  }

  .map {
    height: 20rem;
    width: 20rem;
    padding: 0 0.5rem;
  }

  .footer {
    align-items: center;
  }
  .footer-info {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
